@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Satisfy&family=Source+Sans+Pro');


#About{
    /* padding: 100px 5%; */
    overflow-x: hidden;
}
.about{
    background-color: #b6b5b58f;
    border-radius: 20px;
    margin: 0px 2em;
    padding: 0px 5vw 5vw 5vw;
    font-family: 'Source Sans Pro', sans-serif;
}
.AboutUs{
    width: 100%;
    text-align: center;
}

#home_about {
    height: 100%;
    background-color: white;
    padding: 200px 5%;
    display: flex;
    justify-content: space-between;
}

.content h1 {
    color: #de0000;
}

.AboutUs p{
   font-size: 1.2rem;
   /* font-weight: 500; */
}

#home_vision {
    height: 100%;
    text-align: center;
    padding: 5%;
    padding: 200px 5%;
    background-color: white;
}