.register{
    display: flex;
    justify-content: center;
    align-items: center;
}
.reg_card{
    text-align: center;
    width: 40%;
    padding: 20px;
    margin: 10px;
    border-top: 3px solid #8e3737;
}
.reg_card:hover{
    /* background-color: #FFC300; */
    transform: translateY(-10px);
    box-shadow: 0px 6px 8px 0px #a7a3a3; 
}
@media (max-width: 768px){
    .register {
    flex-direction: column;
    }
    .reg_card{
        width: 90%;
    }
}