@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Satisfy&family=Source+Sans+Pro');
#Team{
    padding-top: 10vh;
}
.team{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 40px;
    margin: 30px;
    font-family: 'Source Sans Pro','cursive';

}
.teamCards{
    display: grid;
    text-align:center;
}
.teamPaper{
    background: url('../images/team back.png');
    background-size: cover;
}
/* .circle1{
    position: absolute;
    z-index: 0;
    width: 200px;
    height: 200px;
    background-color: aqua;
    border-radius: 50%;
    right: 50%;
} */
.IconDiv{
    margin: 10px 0px;
    display: flex;
    justify-content: center;
}
.IconDiv div{
    margin: 0px 10px;
    border-radius: 50%;
    padding: 8px;
}
/* .IconDiv div a{
} */
.ldiv{
    border: 1px solid #0a66c2;
}
.gdiv{   
    border: 1px solid black;
}
.tdiv{   
    border: 1px solid #00acee;
}
.IconDiv div .linkedin{
    color: #0a66c2;
    /* margin: 5px; */

}
.IconDiv div .github{
    color: black;
    /* margin: 5px; */
}
.IconDiv div .twitter{
    color: #00acee;
    /* margin: 5px; */

}
.ldiv:hover{
    background-color: #0a66c2;
    
}
.gdiv:hover{
    background-color: black;
}
.tdiv:hover{
    background-color: #00acee;  
}
.ldiv:hover > .linkedin{
    color:white;
}
.gdiv:hover > .github{
    color:white;
}
.tdiv:hover > .twitter{
    color:white;
}